<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Your Page Title</title>
</head>
<body>

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Главная</a>
    </li>

    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link" aria-current="page" href="/brands/add">Добавить бренд</a>
    </li>

    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
        <a class="nav-link" aria-current="page" href="/models/add">Добавить модель</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/offers/add">Добавить оффер</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/statistics">Статистика цен</a>
    </li>



    <li class="nav-item" sec:authorize="isAuthenticated()">
        <a class="nav-item nav-link text-dark text-info" href="/users/profile"><th:block sec:authentication="name"></th:block></a>
    </li>
    <li class="nav-item" sec:authorize="isAuthenticated()">
        <form
                th:method="post"
                th:action="@{/users/logout}">
            <input class="btn btn-link nav-link" type="submit" value="Logout">
        </form>
    </li>
    <li class="nav-item" sec:authorize="!isAuthenticated()">
        <a class="nav-item nav-link text-dark" th:href="@{/users/register}">Зарегистрироваться</a>
    </li>
    <li class="nav-item" sec:authorize="!isAuthenticated()">
        <a class="nav-item nav-link text-dark" th:href="@{/users/login}">Авторизоваться</a>
    </li>

</ul>
</body>
</html>
