<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}"/>
<body>
<div th:replace="~{fragments/navbar}">Navbar</div>
<form th:action="@{/offers/add}"
      th:method="post"
      th:object="${newOffer}"
      class="m-md-auto w-50 pb-3">

    <input type="hidden" th:field="*{seller}" th:value="${#authentication.principal.username}" />

    <div class="mb-3">
        <label class="form-label" for="nameOffer">Описание</label>
        <input th:field="*{description}"
               th:errorclass="is-invalid"
               type="text" class="form-control text-center" id="nameOffer" aria-describedby="nameHelp"
               name="name"/>
        <small th:if="${#fields.hasErrors('description')}" th:errors="*{description}" class="text-danger">Error
            message</small>
    </div>


    <fieldset class="mb-3">
        <legend>Выберите двигатель</legend>
        <div class="form-check">
            <label class="form-check-label">
                <input th:field="*{engine}"
                       th:value="GASOLINE"
                       th:errorclass="is-invalid"
                       type="radio" class="form-check-input" name="category"/>
                <span>GASOLINE</span>
            </label>
        </div>
        <div class="form-check disabled">
            <label class="form-check-label">
                <input th:field="*{engine}"
                       th:value="DIESEL"
                       th:errorclass="is-invalid"
                       type="radio" class="form-check-input" name="category"/>
                <span>DIESEL</span>
            </label>
        </div>
        <div class="form-check disabled">
            <label class="form-check-label">
                <input th:field="*{engine}"
                       th:value="ELECTRIC"
                       th:errorclass="is-invalid"
                       type="radio" class="form-check-input " name="category"/>
                <span>ELECTRIC</span>
            </label>
        </div>
        <div class="form-check disabled">
            <label class="form-check-label">
                <input th:field="*{engine}"
                       th:value="HYBRID"
                       th:errorclass="is-invalid"
                       type="radio" class="form-check-input " name="category"/>
                <span>HYBRID</span>
            </label>
        </div>
        <small th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}"
               class="text-danger">Error message</small>
    </fieldset>



    <div class="mb-3">
        <label class="form-label" for="imageOffer">Картинка</label>
        <input th:field="*{imageUrl}"
               th:errorclass="is-invalid"
               type="text" class="form-control text-center" id="imageOffer" aria-describedby="nameHelp"
               name="name"/>
        <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger">Error
            message</small>
    </div>

    <div class="mb-3">
        <label class="form-label" for="milleage">Пробег</label>
        <input th:field="*{milleage}"
               th:errorclass="is-invalid"
               type="text" class="form-control text-center" id="milleage" aria-describedby="nameHelp"
               name="name"/>
        <small th:if="${#fields.hasErrors('milleage')}" th:errors="*{milleage}" class="text-danger">Error
            message</small>
    </div>

    <div class="mb-3">
        <label class="form-label" for="price">Цена</label>
        <input th:field="*{price}"
               th:errorclass="is-invalid"
               type="text" class="form-control text-center" id="price" aria-describedby="nameHelp"
               name="name"/>
        <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}" class="text-danger">Error
            message</small>
    </div>

    <fieldset class="mb-3">
        <legend>Выберите трансмиссию</legend>
        <div class="form-check">
            <label class="form-check-label">
                <input th:field="*{transmission}"
                       th:value="MANUAL"
                       th:errorclass="is-invalid"
                       type="radio" class="form-check-input" name="transmission"/>
                <span>MANUAL</span>
            </label>
        </div>
        <div class="form-check disabled">
            <label class="form-check-label">
                <input th:field="*{transmission}"
                       th:value="AUTOMATIC"
                       th:errorclass="is-invalid"
                       type="radio" class="form-check-input" name="transmission"/>
                <span>AUTOMATIC</span>
            </label>
        </div>
        <small th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}"
               class="text-danger">Error message</small>
    </fieldset>



    <div class="mb-3">
        <label class="form-label" for="year">Год</label>
        <input th:field="*{year}"
               th:errorclass="is-invalid"
               type="text" class="form-control text-center" id="year" aria-describedby="nameHelp"
               name="name"/>
        <small th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger">Error
            message</small>
    </div>

    <br>
    <br>
    <br>

    <div class="form-group">
        <label for="model">Выберите модель</label>
        <select class="form-control" id="model" name="model" th:field="*{model}">
            <option th:each="b : ${availableModels}" th:value="${b.name}" th:text="${b.name}">Model name</option>
        </select>
        <small th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="text-danger">Error message</small>
    </div>

    <br>
    <br>
    <br>

    <div class="form-group">
        <label for="seller">Выберите пользователя</label>
        <select class="form-control" id="seller" name="seller" th:field="*{seller}">
            <option th:each="s : ${seller}" th:value="${seller}" th:text="${seller}">Seller name</option>
        </select>
        <small th:if="${#fields.hasErrors('seller')}" th:errors="*{seller}" class="text-danger">Error message</small>
    </div>

<!--    <div class="form-group">-->
<!--        <label for="seller">Выберите пользователя</label>-->
<!--        <p class="form-control-static" th:text="${#authentication.principal.username}">Seller name</p>-->
<!--    </div>-->


    <button type="submit" class="btn btn-secondary">Добавить оффер</button>
</form>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>