<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head}"/>
<body>
<div th:replace="~{fragments/navbar}">Navbar</div>
<form th:action="@{/users/update/{uuid}}"
      th:method="post"
      th:object="${editUser}"
      class="m-md-auto w-50 pb-3">
    <input type="hidden" th:field="*{uuid}"/>
    <input type="hidden" th:field="*{created}"/>

    <div class="form-group">
        <label for="usernameUser">Имя пользователя</label>
        <input th:field="*{username}"
               th:errorclass="is-invalid"
               type="text" class="form-control" id="usernameUser" aria-describedby="nameHelp"
               name="name"/>
        <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger">Error message</small>
    </div>

    <div class="form-group">
        <label for="firstNameUser">Имя</label>
        <input th:field="*{firstName}"
               th:errorclass="is-invalid"
               type="text" class="form-control" id="firstNameUser" aria-describedby="nameHelp"
               name="name"/>
        <small th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}" class="text-danger">Error message</small>
    </div>

    <div class="form-group">
        <label for="lastNameUser">Фамилия</label>
        <input th:field="*{lastName}"
               th:errorclass="is-invalid"
               type="text" class="form-control" id="lastNameUser" aria-describedby="nameHelp"
               name="name"/>
        <small th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}" class="text-danger">Error message</small>
    </div>


<!--    <div class="form-group">-->
<!--        <label for="isActiveUser">Статус</label>-->
<!--        <input th:field="*{active}"-->
<!--               th:errorclass="is-invalid"-->
<!--               type="checkbox" class="form-control" id="isActiveUser" aria-describedby="nameHelp"-->
<!--               name="name" />-->
<!--        <small th:if="${#fields.hasErrors('isActive')}" th:errors="*{isActive}" class="text-danger">Error message</small>-->
<!--    </div>-->


    <div class="form-group">
        <label for="imageUrlUser">URL изображения</label>
        <input th:field="*{imageUrl}"
               th:errorclass="is-invalid"
               type="text" class="form-control" id="imageUrlUser" aria-describedby="imageUrlHelp"
               name="imageUrl"/>
        <small th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}" class="text-danger">Error message</small>
    </div>

    <div class="form-group">
        <label for="emailUser">Email</label>
        <input th:field="*{email}"
               th:errorclass="is-invalid"
               type="text" class="form-control" id="emailUser" aria-describedby="emailHelp"
               name="email"/>
        <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger">Error message</small>
    </div>


    <div class="form-group">
        <label for="passwordUser">Пароль</label>
        <input th:field="*{password}"
               th:errorclass="is-invalid"
               type="password" class="form-control" id="passwordUser" aria-describedby="passwordHelp"
               name="password"/>
        <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger">Error message</small>
    </div>

    <div class="form-group">
        <label for="confirmPasswordUser">Подтвердите пароль</label>
        <input th:field="*{confirmPassword}"
               th:errorclass="is-invalid"
               type="password" class="form-control" id="confirmPasswordUser" aria-describedby="confirmPasswordHelp"
               name="confirmPassword"/>
        <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger">Error message</small>
    </div>



    <button type="submit" class="btn btn-secondary">Обновить данные пользователя</button>
</form>

</form>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>
