<!DOCTYPE html>
<html lang="" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<head>
    <title>Основная страница</title>
    <script src="/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
</head>
<body>
<div th:replace="~{fragments/navbar}">Navbar</div>

<div class="card mb-3 w-50 h-150 mx-auto my-4" style="max-width: 720px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/pic/brand.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Бренды</h5>
                <p class="card-text">На странице "Бренды" вы найдете информацию о различных брендах. Это может включать в себя список имеющихся брендов, их характеристики, изображения, а также связанные данные о продукции или услугах, представленных каждым брендом.</p>
                <p class="card-text"><small class="text-body-secondary"><a href="/brands/show" class="btn btn-primary">Посмотреть</a></small></p>
            </div>
        </div>
    </div>
</div>

<div class="card mb-3 w-50 h-150 mx-auto my-4" style="max-width: 720px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/pic/model.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Модели</h5>
                <p class="card-text">Страница "Модели" предоставляет информацию о различных моделях. Здесь вы можете увидеть описания моделей, технические характеристики, изображения и, возможно, связанные данные, такие как отзывы, рейтинги или доступность.</p>
                <p class="card-text"><small class="text-body-secondary"><a href="/models/show" class="btn btn-primary">Посмотреть</a></small></p>
            </div>
            </div>
        </div>
    </div>
</div>


<div class="card mb-3 w-50 h-150 mx-auto my-4" style="max-width: 720px;">
    <div class="row g-0">
        <div class="col-md-4">
            <img src="/pic/acts.png" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Офферы</h5>
                <p class="card-text">На странице "Офферы" представлена информация о текущих предложениях или акциях. Это может включать в себя описание специальных предложений, скидок, бонусов или других возможностей, предоставляемых вашим сервисом или продуктом.</p>
                <p class="card-text"><small class="text-body-secondary"><a href="/offers/show" class="btn btn-primary">Посмотреть</a></small></p>
            </div>
        </div>
    </div>
</div>

<!--<div class="card mb-3 w-50 h-150 mx-auto my-4" style="max-width: 720px;">-->
<!--    <div class="row g-0">-->
<!--        <div class="col-md-4">-->
<!--            <img src="/pic/users.png" class="img-fluid rounded-start" alt="...">-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Пользователи</h5>-->
<!--                <p class="card-text">Страница "Пользователи" содержит данные о зарегистрированных пользователях вашего веб-сайта или приложения. Это может включать в себя профили пользователей, их личную информацию, статусы активности, и, возможно, управление учетными записями.</p>-->
<!--                <p class="card-text"><small class="text-body-secondary"><a href="/users/all" class="btn btn-primary">Посмотреть</a></small></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--<div class="card mb-3 w-50 h-150 mx-auto my-4" style="max-width: 720px;">-->
<!--    <div class="row g-0">-->
<!--        <div class="col-md-4">-->
<!--            <img src="/pic/role.png" class="img-fluid rounded-start" alt="...">-->
<!--        </div>-->
<!--        <div class="col-md-8">-->
<!--            <div class="card-body">-->
<!--                <h5 class="card-title">Роли</h5>-->
<!--                <p class="card-text">На странице "Роли" вы найдете информацию о ролях, которые могут быть присвоены пользователям. Это может включать в себя список доступных ролей, их права и обязанности, а также управление ролями для обеспечения эффективного управления доступом к функционалу в вашей системе.</p>-->
<!--                <p class="card-text"><small class="text-body-secondary"><a href="/roles/all" class="btn btn-primary">Посмотреть</a></small></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</div>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>