<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head}"/>
<body>
<div th:replace="~{fragments/navbar}">Navbar</div>
<main>
    <ul class="list-group">
        <h2 class="text-center">Все модели</h2>
        <li class="list-group-item text-center"><div th:each="m : ${models}">
            <h2 th:text="'Название модели: ' + *{m.name}"></h2>
            <h4 th:text="'Бренд: ' + *{m.brand}"></h4>
            <h6 th:text="'Категория модели: ' + *{m.category}"></h6>
            <h6 th:text="'Ссылка на картинку: ' + *{m.imageUrl}"></h6>
            <h6 th:text="'Год начала: ' + *{m.startYear}"></h6>
            <h6 th:text="'Год конца: ' + *{m.endYear}"></h6>
            <h6 th:text="'Изменено: ' + *{m.modified}"></h6>
            <h6 th:text="'Создано: ' + *{m.created}"></h6>
            <h4 sec:authorize="hasRole('ADMIN')"><a class="btn-block" th:href="@{/models/update/{uuid}(uuid = ${m.uuid})}">Обновить информацию</a></h4>
            <div class="align-bottom" sec:authorize="hasRole('ADMIN')">
                <a class="btn btn-danger align-bottom"
                   th:href="@{/models/delete{modelName}(modelName=${models.name})}">Удалить модель</a>
            </div>
        </div></li>
    </ul>
</main>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>