<!--<!DOCTYPE html>-->
<!--<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">-->
<!--<head th:replace="~{fragments/head}"/>-->
<!--<body>-->
<!--<div th:replace="~{fragments/navbar}">Navbar</div>-->
<!--<main>-->
<!--    <ul class="list-group">-->
<!--        <h2 class="text-center">Все роли</h2>-->
<!--        <li class="list-group-item text-center">-->
<!--            <div th:each="r : ${roles}">-->
<!--                <h2 th:text="'Роль: ' + *{r.role}"></h2>-->
<!--&lt;!&ndash;                <div class="align-bottom">&ndash;&gt;-->
<!--&lt;!&ndash;                    <a class="btn btn-danger align-bottom"&ndash;&gt;-->
<!--&lt;!&ndash;                       th:href="@{/roles/delete{rolesRole}(rolesRole=${roles})}">Удалить оффер</a>&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--            </div>-->
<!--        </li>-->
<!--    </ul>-->
<!--</main>-->
<!--<footer th:replace="~{fragments/footer}"/>-->
<!--</body>-->
<!--</html>-->